@model MyContacts.UI.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
<div>
    <h1>Edit Contact</h1>
    <h3>@Html.ActionLink("Back To List", "Index", "Home")</h3>
    @*<form action="/Home/EditContact" method="POST">*@
    @using (Html.BeginForm("EditContact", "Home", FormMethod.Post))
    { 
        @Html.HiddenFor(m => m.ContactId)
        <p>
            <label>Name</label>
            @*<input type="text" id="Name" name="Name" value="@Model.Name" />*@
            @Html.TextBoxFor(m=>m.Name)
        </p>
        <p>
            <label>Phone</label>
            @*<input type="text" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" />*@
            @Html.TextBoxFor(m=>m.PhoneNumber)
        </p>
        <button>Save</button>
    }
    @*</form>*@
</div>
</body>
</html>
